@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "DynaPuff", sans-serif;
    background: url('../assets/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh; /* Ensure body covers the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    width: 100%;
    height: 80vh;
    
}

.score_box {
    display: flex;
    justify-content: space-between;
    width: 70vmin;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    font-weight: bold;
    
}

/* Board Styles */
.board {
    background: linear-gradient(rgb(133, 224, 133), rgb(219, 219, 130));
    width: 70vmin;
    height: 72vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    border-radius: 15px;
    margin: 1rem 0;
}

/* Food, Snake and Head Styles */
.food,
.snake,
.head {
    transition: transform 0.1s ease;
}

.food {
    background: radial-gradient(circle at center, red, purple);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
}

.head {
    background: radial-gradient(circle, #e96b6b, #e2e26e);
    border-radius: 50%;
    border: 2px solid purple;
}

.snake {
    background: purple;
    border-radius: 50%;
    border: 2px solid #333;
}

/* Responsive Font and Layout Adjustments */
@media (max-width: 768px) {
    .container {
        width: 95vmin;
    }

    .score_box {
        font-size: 1.5rem;
    }
}

/* Mobile-specific styling */
@media (max-width: 780px) {
    .container {
        padding-top: 1rem; 
    }
    
    .score_box {
        font-size: 1.2rem; 
    }
}

.dpad {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    margin-top: 10px;
    justify-content: center; /* Center the D-pad horizontally */
}

.dpad-button {
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
}

#up { grid-column: 2; }
#left { grid-column: 1; }
#down { grid-column: 2; }
#right { grid-column: 3; }

.dpad-button:active {
    background-color: #555; /* Darken when pressed */
}

@media (min-width: 1024px) {
    .dpad-button {
        display: none; 
    }
}
